@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import "react-loader-spinner/dist/loader/css/react-spinner-loader.css";

* {
  background-color: rgba(255, 255, 255, 1);
}

$primary: #2D2D34;
$secondary: #D0CCD0;
$tertiary: #443627;

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
}

.App {
  height: 100vh;
}

.button {
  cursor: pointer;
  border: 1px solid $tertiary;
  background: $primary;
  padding-left: 48px;
  padding-top: 8px;
  padding-right: 48px;
  padding-bottom: 8px;
  margin-top: 16px;
  min-width: 64px;
  border-radius: 8px;
  color: $secondary;
  transition: all 0.1s ease-in;
  font-family: 'Inconsolata', monospace;
  box-shadow: 0px 2px 5px $tertiary
}

.button-spinner {
  background-color: #000000;
}
 
.button:hover {
  opacity: .90;
  color: $secondary;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.error-message {
  font-size: 16px;
  font-weight: 150;
  font-style: italic;
  padding: 32px;
}

.form {
  text-align: left;
  border-radius: 8px;
  border-color: $secondary;
  box-shadow: $secondary;
  border-width: 1.5px;
  font-family: 'Inconsolata', monospace;
  padding-left: 8px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  min-width: 48px;
}

.header {
  background-color: $primary;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-link {
  text-decoration: none;
  background: $primary;
  color: $secondary
}

.header-left {
  flex: 1;
  text-align: left;
  background: $primary;
}

.header-center {
  flex: 1;
  text-decoration: none;
  background: $primary;
  color: $secondary;
  font-size: 24px;
  text-align: center;
}

.header-right {
  flex: 1;
  text-align: right;
  background: $primary;
}

hr {
  width: 16vw;
  margin-top: 32px;
}

@media (min-width: 350px) {
  .title {
    font-size: 48px;
  }
  .subtext {
    font-size: 24px;
  }
}

@media (min-width: 650px) {
  .title {
    font-size: 64px;
  }
  .subtext {
    font-size: 32px;
  }
}
